.contact {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)), url(../dist/img/bg1.png);
	background-size: cover;

	h2 {
		font-size: 4rem;
		margin-bottom: 10rem;
		text-shadow: rgba(251, 249, 249, 0.2) 0px 6px 6px, rgba(251, 249, 249, 0.5) 0px 6px 6px;
	}

	&__list {
		display: flex;
		justify-content: center;
		list-style: none;

		li {
			margin: 1.2rem;
			transition: transform 0.3s ease-in-out;

			a {
				font-size: 1.5rem;
			}

			&:hover {
				transform: translateY(-5px);
				text-shadow: rgba(0, 0, 0, 0.1) 0px 6px 6px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
			}
		}
	}
